.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #210f0f;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.main-header .logo {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-shadow: 4px 4px 0px #000;
}