.main-button {
    display: inline-block;
    background-color: #FF7200;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #FFF;
    margin-right: 0;
    transition: transform 600ms linear, background-color 100ms linear;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.05);
    background: linear-gradient(-45deg, #222F3E, #3A4042, #FF7200, #f57710);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.02);
}

  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 