.main-section {
    background-color: #FF7200;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #100F21;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgblack {
    background-color: #000;
}

.main-section.-bgblue {
    background-color: #100F21;
}

.main-section.-bdfirst {
    border-color: #FF7200;
}

.main-section.-bdsecond {
    border-color: #000;
}

